{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <meta charset="UTF-8">
    <style>
	  html, body, div {
	    height: 100%;
	  }

	  body {
	  	background-color: #f3f1f2;
	  	background-image: url('img/foodrescue.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center; 
        cursor: pointer;
	  }
    </style>
{% endblock %}
{% block content %}
  <div onClick="window.location='/job/'"/>
{% endblock %}
