{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <meta charset="UTF-8">
    <style>
        body {
            background-color: #f3f1f2;
        }
        .panel {
            border-radius: 1px;
            background: #fff;
            padding-left: 20px;
            padding-bottom: 10px;
            box-shadow: 0 0 1px 0 rgba(0,0,0,.05),
                        0 2px 4px 0 rgba(0,0,0,.15);
        }
        p {
            font-size: 16px;
            color:#666;
            font-weight: 300;
            margin-left: 1px;
        }
    </style>
{% endblock %}
{% block content %}
  
  <div class="container">
    <div class="panel col-lg-8 col-xs-12">
        <h2>Thank you!</h2>
        <p>Your donation is greatly appreciated.</p>
    </div>
  </div>
    
{% endblock %}
