body { 
	padding-top: 70px;
}
.jobs-list {
	padding-left: 0;
	margin-left: 0;
}
.jobs-list-item {
	border-bottom: 1px solid #ddd;
	margin-bottom: 5px;
}
.job-status {
	color: #5cb85c;
	text-transform: uppercase;
	font-weight: 600;
}
.job-description {

}