body { 
	padding-top: 70px;
	background: #f1f1f1;
}
h2 {
	font-weight: 300;
	margin-bottom: 30px;
}
.jobs-list {
	padding-left: 0;
	margin-left: 0;
}
.job-status {
	color: #5cb85c;
	text-transform: uppercase;
	font-weight: 600;
}
.job-description {

}
.job {
	margin: 5px 0;
	background: #fff;
	border-radius: 1px;
	padding: 15px 30px;
	box-shadow: 0 0 1px 0 rgba(0,0,0,.1),
				0 1px 2px 0 rgba(0,0,0,.12);
}
.job-base {

}
.address-text {
	margin-right: 4px;
}
.job-base-status {
	color: #5cb85c;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: .5px;
	position: relative;
	top: 0px;
	right: 15px;
}
.job-base dl {
	margin-bottom: 0;
	margin-left: -15px;
}
.job-base dt {
	color: #aaa;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: 500;
}
.job-base-org-name {
	margin-bottom: 5px;
	font-size: 24px;
	font-weight: 300;
}
.job-base-address {
	margin-bottom: 5px;
	font-size: 18px;
	font-weight: 300;
	color: #666;
	margin-top: 6px;
}
.show-job-details {
	position: relative;
	top: 5px;
	right: 15px;
	display: block;
	white-space: nowrap;
	color: #666;
	cursor: pointer;
}
.fade-enter {
	opacity: 0.01;
	transition: opacity .5s ease-in;
  	background: purple;
}
.fade-enter.fade-enter-active {
	opacity: 1;
	background: purple;
}
.fade-leave {
	opacity: 1;
	transition: opacity .5s ease-in;
	background: purple;
}
.fade-leave.fade-leave-active {
	opacity: 0.01;
	background: purple;
}












