{% extends "base.html" %}
{% block title %}Jobs{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<!-- pride / motivation -->
<div id="motivate-container">
    <div class="row">
        <div class="col-md-6">
            25 Volunteer deliveries this month!
        </div>
        <div class="col-md-6">
            350 Lives touched this year!
        </div>
        <div class="col-md-6">
            1 in 5 kids struggle with hunger
        </div>
        <div class="col-md-6">
            49 million americans are food insecure.
        </div>
    </div>
</div>
	<!-- list of jobs -->

	<div id="jobs-container" data-jobsurl="" data-jobprefix="{{ jobUrlPrefix }}"></div>

	<script src="../scripts/jobs.js"></script>
{% endblock %}
