{% extends "base.html" %}
{% block title %}Jobs{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
<!-- pride / motivation -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            25 Volunteer deliveries this month!
        </div>
        <div class="col-md-6">
            350 Lives touched this year!
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            1 in 5 kids struggle with hunger
        </div>
        <div class="col-md-6">
            49 million americans are food insecure.
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <span style="color:#3c763d;">163 days since last donation opportunity missed. Keep it up team!</span>
        </div>
        <div class="col-md-6">
            <span style="color:#a94442;">12 days since last donation opportunity missed.</span> <a href="">Invite a friend.</a>
        </div>
    </div>
	<h2>Opportunities to help:</h2>
</div>

	<!-- list of jobs -->
	<div id="jobs-container" data-jobsurl="" data-jobprefix="{{ jobUrlPrefix }}"></div>

	<script src="../scripts/jobs.js"></script>
{% endblock %}
